<!-- Data Binding : 1.Interpolation -->

<!-- Hellooo! {{title}}
<button type="button">{{myButton}}</button> -->

<!-- Data Binding : 2.Property Binding -->

<!-- <button type="button" [disabled] = "isDisabled">{{firstBtn}}</button> -->

<!-- Angular Image -->

<!-- <img [src]="AngularImage" alt="angularimage" height="100" width="100"> -->

<!-- ----------- Property Binding (Styles binding) -------------- -->
<!-- <div [style.background-color]="bgColor">
  <h1 [style.color]="titleColor">This is Title</h1>
</div> -->

<!-- --------------- Event Binding ------------------- -->

<!-- <button (click) = "isIncrementCounter()">INCREMENT</button>
<p>Counter: {{counter}}</p> -->

<!-- -------------------Two Way Binding ------------------------ -->

<!-- <input [(ngModel)]="inputText" placeholder="Enter Text">
<p>You Entered : {{inputText}}</p> -->

<!-- --------------------- NgClass ---------------------- -->
<!-- 
<div [ngClass] = "classes">
  {{message}}
</div> -->

<!-- ----------------------- NgStyle ---------------------- -->

<!-- <div class="color-box" [ngStyle] = "{'background-color': selectedColor}">
  Box
</div> -->

<!-- ------------------------- Structural Directives ------------------------------- -->

<!-- <div *ngIf="isLoggedIn || check">Welcome, {{username}}</div> 

<div *ngIf="isLoggedIn; else loggedout">{{username}}</div> 
<ng-template #loggedout>Please LogIn</ng-template><br> -->

<!-- ------------------------- Structural Directives ------------------------------ -->

<!-- <ul>
  <li *ngFor="let name of names; let i = index">{{i}}{{name}}</li>
</ul> -->

<!-- ----------------------- Switch Case -------------------------------- -->

<!-- <div [ngSwitch]="grade">
  <p *ngSwitchCase="'a'">Excellent</p>
  <p *ngSwitchCase="'b'">Good</p>
  <p *ngSwitchCase="'c'">Bad</p>
  <p *ngSwitchDefault>Unknown</p>
</div> -->

<!-- ----------------------- Control Flow Statements -------------------------------- -->

<!-- @if(a>b) {
  {{a}} is greater than {{b}}
} @else if (b>a) {
  {{b}} is greater than {{a}}
} @else {
  {{a}} and {{b}} are equal
} -->



<!-- @for(item of items; track item.id; let i = $index; let total = $count) {
  index:{{i}} name:{{item.name}}<br> 
}

@for(item of items; track item.id; let total = $count) {
  total = {{total}}<br>
}
----------------------------------- -->

<!-- ----------------------- Control Flow Statements -------------------------------- -->
<!-- 
@switch(grade) {
  @case ('a') {
    <p>Excellent</p>
  }

  @case ('b') {
    <p>Good</p>
  }

  @case ('c') {
    <p>Bad</p>
  }

  @default {
    <p>Unknown</p>
  }
} -->
<!-- -------------------------- Pipes ----------------------------- -->
<!-- -----------------------------------------------------------------------

<h2>Uppercse pipe :{{topic | uppercase}}</h2>
<h2>Lowercse pipe :{{topic | lowercase}}</h2>
<p>today: {{today}}</p>
<p>today: {{today | date}}</p>
<p>today: {{today | date : "fullDate"}}</p>
<p>today: {{today | date : "full"}}</p>
<p>today: {{today | date : "short"}}</p>
<p>today: {{today | date : "medium"}}</p>
<p>today: {{today | date : "long"}}</p>
<p>today: {{today | date : "h:mm:ss"}}</p>
<p>currency: {{currency | currency}}</p>
<p>currency: {{currency | currency: "INR" : "symbol" : "1.1-4"}}</p>
<p>Percent: {{currency | percent : ""}}</p> -->

<!-- -------------------------- Custom Pipes ----------------------------- -->
<!-- --------------------------------------------------------------------------
<div>Pipes : {{title | append : " append"}}</div> -->

<!-- -------------------------- Dependency Injection --------------------- -->
<!-- --------------------------------------------------------------------

<div>{{data}}</div> -->

<!-- -------------------------- Api Calling --------------------- -->
<!-- 
<h2>Users</h2>
<div *ngFor="let user of users">
  <h4>{{user.name}}</h4>
  
</div>
==============================
<h1>Without subscribe</h1>
<div *ngIf="userList | async as users">
  <ul>
    <li *ngFor="let user of users">
      {{ user.name }}
    </li>
  </ul>
</div> -->

<!-- ------------------------- Signals --------------------------------- -->

<app-todo></app-todo>
<!-- -------------------------- Self Task ----------------------------- -->
<!-- ---------------------------------------------------------------------------
<h2>Login Page</h2>

<div *ngIf = "isLoggedIn; else loggedOut">Welcome, Kiran</div>
<div><ng-template #loggedOut>Please Login</ng-template></div>


<button (click)="toggleLogin()">{{buttonText}}</button> -->

<!-- ------------------------- Self Task --------------------------------- -->
 <!-- <h2>Ng Model</h2>
<input [(ngModel)] = "inputText" placeholder="Enter text">
<p>Your Entered</p>
<p [style.border-style]="border">Text = {{inputText}}</p> -->


